{% extends 'profile/profile_base.html.twig' %}

{% block title %}Profile Utilisateur
{% endblock %}

{% block profile_content %}
	<div class="container-fluid">
		<div class="row">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10">
				<div class="profile-header">
					<h1 class="py-4">Hey
						{{ user.getFullName() }}</h1>
				</div>
				<div class="profile-content">
					{% include "profile/_lastorder.html.twig" %}
				</div>
			</main>
		</div>
	</div>
{% endblock %}
