{% extends 'admin/admin_base.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}

{% block admin_content %}
	<div class="">
		<h1 class="py-4">Administration des utilisateurs</h1>
	</div>
{% endblock %}
