{% extends 'base.html.twig' %}

{% block title %}
	Shop
{% endblock %}

{% block body %}
	<section class="container">
		<div>
			<h2 class="text-center mt-3">La page de la boutique</h2>
		</div>
	</section>
{% endblock %}
